Front\MenuBundle\Entity\Listit:
  type: entity
  table: listit
  id:
    id:
      type: integer
      generator: { strategy: AUTO }
  fields:
    name:
      type: string
      length: 255
      unique: true
    name_ru:
      type: string
      length: 255
      unique: true
      nullable: true
    name_en:
      type: string
      length: 255
      unique: true
      nullable: true
    about:
      type: string
      length: 2555
      nullable: true
    about_ru:
      type: string
      length: 2555
      nullable: true
    about_en:
      type: string
      length: 2555
      nullable: true
    locales:
      type: string
      length: 255
      nullable: true
    url:
      type: string
      length: 255
      nullable: true
    is_activated:
      type: boolean
      nullable: true
    created_at:
      type: datetime
    updated_at:
      type: datetime
    foto:
      type: string
      length: 255
      nullable: true
  manyToOne:
    menu:
      targetEntity: Menu
      inversedBy: listit
      joinColumn:
        name: menu_id
        referencedColumnName: id
  lifecycleCallbacks:
    prePersist: [ setCreatedAtValue ]
    preUpdate: [ setUpdatedAtValue ]