Front\TopBundle\Entity\People:
  type: entity
  table: people
  id:
    id:
      type: integer
      generator: { strategy: AUTO }
  fields:
    name:
      type: string
      length: 255
      unique: true
    who:
      tyoe: string
      length: 255
      nullable: true
    foto_peope:
      type: string
      length: 255
      unique: true
      nullable: true
    mail:
      type: string
      length: 255
      unique: true
      nullable: true
    phone:
      type: string
      length: 255
      unique: true
      nullable: true
    facebook:
      type: string
      length: 255
      unique: true
      nullable: true
  manyToOne:
    activites:
      targetEntity: Activities
      inversedBy: peoples
      joinColumn:
        name: activities_id
        referencedColumnName: id