Front\TopBundle\Entity\Project:
  type: entity
  table: project
  id:
    id:
      type: integer
      generator: { strategy: AUTO }
  fields:
    name:
      type: string
      length: 255
      unique: true
    name_ru:
      type: string
      length: 255
      unique: true
    name_en:
      type: string
      length: 255
      unique: true
    about:
      type: string
      length: 2555
    about_ru:
      type: string
      length: 2555
    about_en:
      type: string
      length: 2555
  oneToMany:
    activites:
      targetEntity: Activities
      mappedBy: project